<nav class="menu-panel">
    <div>
        <a href="/">Home</a>
        
        {% if session.get('admin_logged_in') %}
            <a href="/admin">Admin</a>
            <a href="/user_management">Benutzerverwaltung</a>
            <a href="/break_settings">Pauseneinstellungen</a>
        {% endif %}
        
        {% if session.get('username') %}
            <a href="/data_access" title="Zugriff auf Ihre persönlichen Daten"><i class="fas fa-user-shield"></i> Meine Daten</a>
            <a href="/manual_attendance" title="Anwesenheitsaufzeichnungen manuell hinzufügen"><i class="fas fa-plus-circle"></i> Zeiterfassung hinzufügen</a>
            <a href="/user_break_preferences" title="Persönliche Pauseneinstellungen anpassen"><i class="fas fa-coffee"></i> Pauseneinstellungen</a>
        {% else %}
            <a href="/data_access">Datenzugriff</a>
        {% endif %}
        <a href="/privacy_policy">Datenschutzerklärung</a>
    </div>
    <div class="menu-right">
        {% if session.get('username') %}
            <span class="username-display">{{ session.get('username') }}</span>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </div>
</nav>

{% include 'cookie-consent.html' %}
